@font-face {
    font-family: 'roboto';
    src: url(./Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(./Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'roboto';
    src: url(./Roboto/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'roboto';
    src: url(./Roboto/Roboto-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'roboto';
    src: url(./Roboto/Roboto-ThinItalic.ttf);
    font-style: italic;
}


body{
    font-family: 'roboto' !important;
    margin: 0;
}

nav {
    width: 75%;
    padding-right: 13%;
    padding-left: 12.4%;
    height: 10vh;
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.logo{
    font-family: 'roboto';
    font-size: 24px;
    color: #F9FAF8;
}

.navLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 36%;
}

.links{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    font-family: 'roboto';
    cursor: pointer;
}

.banner{    
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    height: 50vh;
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bannerTitle{
    font-size: 48px;
    font-family: 'roboto';
    color: #F9FAF8;
    width: 500px;
    margin: 10px 0;
}

.imgPlaceholder{
    width: 525px;
    height: 251px;
    background-color: darkgrey;
    line-height: 251px;
    text-align: center;
}

.bannerText{
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
    margin-right: 5% !important;
    margin: 12px 0;
    letter-spacing: 1px;
    font-family: 'roboto';
}

.bannerSub{
    width: 500px;
}

.bannerBtn{
    font-family: 'roboto';
    color: white;
    background-color: #3882f6;
    padding: 10px 35px;
    font-size: 17px;
    border-radius: 10px;
    border: 0px;
}


/* BLOCK 2 - RANDOM INFO */
.randomInfo{
    width: 814px;
    margin-bottom: 155px !important;
    margin: auto;
}

.randTitle{
    font-size: 36px;
    color: #1F2937;
    font-family: 'roboto';
    text-align: center;
    margin: 35px;
}

.infoWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infoBox{
    width: 159px;
    text-align: center;
}

.smallSquare{
    width: 150px;
    height: 150px;
    margin: auto;
    border: 3px solid #3882f6;
    border-radius: 7%;
    text-align: center;
}


/* QUOTE BLOCK */
.quote{
    background-color: #e5e7eb;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.quoteText{
    max-width: 826px;
    padding: 5% 20%;
    font-size: 36px;
    text-align: start;
    font-family: 'roboto-it';
    word-spacing: 7px;
    margin: auto;
}

.author{
    font-size: 21px;
    margin-left: 91%;
    font-family: 'roboto-bold';
}


/* CTA */
.ctawrapper{
    background-color: #3882f6;
    color: white;
    padding: 50px;
    width: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.ctaTitle{
    font-family: 'Roboto-Bold';
    margin: 0px;
    font-size: 21px;
}

.ctaText{
    margin: 0;
}

.ctaButton{
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
    padding: 8px 33px;
    border-radius: 6px;
    cursor: pointer;
}


footer{
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    height: 10vh;
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.goHomeLink{
    position: absolute;
    top: -50px;
    left: 7px;
    width: 50px;
    height: 100px;
    transition: all 0.7s;
}

.goHome{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 50px;
}

.goHomeLink:hover{
    top: 7px;
}